@charset "UTF-8";

* {
    box-sizing: border-box;
    /* include padding and border in the element's total width and height */
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
}

header {
    text-align: center;
}

#cover_img {
    /* adds responsive behavior: scale down if needed */
    max-width: 100%;
    height: auto;
}

#main_title {
    padding: 15px;
}

a {
    text-decoration: none;
}

nav {
    position: sticky;
    /* only works when parent is showing! */
    position: -webkit-sticky;
    /* Safari */
    top: 0;
    z-index: 2;
}

nav ul {
    list-style-type: none;
    /* removes the bullets */
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* prevents li elements from going outside of the list */
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
}

nav li {
    float: left;
}

/* Nav links and dropdown button */

nav li a,
.dropbtn {
    display: inline-block;
    color: #555555;
    padding: 14px 16px;
    text-align: left;
    text-decoration: none;
}

/*  Change the background color of inactive links when hovered and the dropdown button when the dropdown content is shown */

nav li a:hover:not(.active),
.dropdown:hover .dropbtn {
    background-color: #dddddd;
}

nav li a.active {
    background-color: rgba(0, 130, 255, 0.8);
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */

nav li.icon {
    display: none;
}

/* Page content */

.content {
    padding: 16px;
}

.right {
    float: right;
}

/* Container to position the dropdown content */

.dropdown {
    display: inline-block;
}

/* Dropdown content (hidden by default) */

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* When the screen is less than 850 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains open and close the topnav (.icon) */

@media screen and (max-width: 850px) {

    nav li:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    nav li.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 850px) {
    nav.responsive {
        position: relative;
    }

    nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    nav.responsive li {
        float: none;
        display: block;
        text-align: left;
    }

    nav.responsive .dropdown {
        float: none;
    }

    nav.responsive .dropdown-content {
        position: relative;
    }

    nav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

fieldset legend {
    font-size: 130%;
}

input[type="radio"] {
    margin-left: 0px;
    margin-top: 10px;
}

input[type="submit"],
[type="button"],
[type="reset"],
button,
select {
    font-size: 18px;
}

/****** SLIDESHOW ******/

.slideshow-container img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.slideshow-container {
    position: relative;
    padding: 20px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    border-radius: 4px;
    /* Rounded border */
    background-color: rgba(0, 0, 0, 0.12);
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

/* Ten columns side by side */
.column {
    display: inline-block; /* display in a row */
    width: 10%;
    border: 1px solid #ddd;
    padding: 5px;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
    box-shadow: 0 0 4px 1px rgba(0, 140, 186, 0.5);
}

.mySlides img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 1px solid #999999;
    cursor: pointer;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 650px) {
    .mySlides img {
        width: 70%;
        margin-top: 20px;
    }

    .column {
        width: 30%;
    }
}

