* {

}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    text-align: center;
}
#cover_img {
    /* change proportion with CSS */
}
#nav_menu {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: black;
    list-style-type: none;
    display: block; /* TODO */
}

#nav_menu li {
    float: left;
}

#nav_menu li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

#nav_menu li a:hover {
    background-color: #444444;
}
