@charset "UTF-8";

* {
    box-sizing: border-box; /* include padding and border in the element's total width and height */
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120%
}

header {
    text-align: center;
}
#cover_img {
    /* sets responsive behavior to scale down if needed */
    max-width: 100%;
    height: auto;
}
#nav_menu {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: black;
    list-style-type: none;
    display: block; /* TODO */
}

#nav_menu li {
    float: left;
}

#nav_menu li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

#nav_menu li a:hover {
    background-color: #444444;
}

#nav_menu li a.active {
    background-color: #cccccc;
    color: black;
}

